#user-defined
virAssignment2
virAssignment3

pytest/venv_ptest
logs/venv_logs
.env



great_expectations/checkpoints
great_expectations/plugins
great_expectations/expectations/.ge_store_backend_id
great_expectations/uncommitted/config_variables.yml
great_expectations/uncommitted/validations

*.pyc
airflow/logs/scheduler/latest
ubuntu.pem
